webci.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="MTO_SchedineRQ">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="POS" minOccurs="2" maxOccurs="2"/>
                <xs:choice>
                    <xs:element ref="InserimentoAlloggiati"/>
                    <xs:element ref="Aggiornamento"/>
                    <xs:element ref="Eliminazione"/>
                    <xs:element ref="RequestSegments"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="POS">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Source"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Source">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="RequestorID ">
                    <xs:complexType>
                        <xs:attribute name="Type" use="required" type="xs:string"/>
                        <xs:attribute name="ID" use="required" type="xs:string"/>
                        <xs:attribute name="MessagePassword" use="required" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Eliminazione">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Alloggiato">
                    <xs:complexType>
                        <xs:attribute name="id"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Aggiornamento">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Ospite" type="Ospite" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="InserimentoAlloggiati">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="Gruppo" minOccurs="2" maxOccurs="unbounded"/>
                <xs:element ref="OspiteSingolo" minOccurs="1" maxOccurs="1"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:element name="RequestSegments">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="RequestSegment">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SearchCriteria">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Criterion"/>
                                        <xs:choice>
                                            <xs:element ref="DateRange"/>
                                            <xs:element ref="UniqueID"/>
                                            <xs:element ref="ImpostaSoggiorno"/>
                                            <xs:element ref="ListaResidenze"/>
                                            <xs:element ref="ListaStatistiche"/>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DateRange">
        <xs:complexType>
            <xs:attribute name="Start" use="required" type="xs:date">
                <xs:annotation>
                    <xs:documentation> Data di inizio periodo di ricerca
                        (aaaa-mm-gg)</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="End" use="required" type="xs:date">
                <xs:annotation>
                    <xs:documentation> Data di fine periodo di ricerca
                        (aaaa-mm-gg)</xs:documentation>
                </xs:annotation>
            </xs:attribute>

        </xs:complexType>
    </xs:element>

    <xs:element name="UniqueID">
        <xs:complexType>
            <xs:attribute name="Id" use="required" type="xs:int">
                <xs:annotation>
                    <xs:documentation>Identificativo univoco</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="tipo" use="required">
                <xs:annotation>
                    <xs:documentation>Tipo di identificativo (Gruppo;
                        OspiteSingolo)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Gruppo"/>
                        <xs:enumeration value="OspiteSingolo"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="ImpostaSoggiorno">
        <xs:complexType>
            <xs:attribute name="Comune" use="required" type="xs:int">
                <xs:annotation>
                    <xs:documentation>Codice identificativo univoco del comune</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="ListaResidenze">
        <xs:complexType>
            <xs:attribute name="tipo" use="required">
                <xs:annotation>
                    <xs:documentation>Tipo di identificativo (Stati; Comuni)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Stati"/>
                        <xs:enumeration value="Comuni"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="ListaStatistiche">
        <xs:complexType>
            <xs:attribute name="tipo" use="required">
                <xs:annotation>
                    <xs:documentation>Tipo di identificativo (Stati; Comuni)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="TipoTurismo"/>
                        <xs:enumeration value="MezzoDiTrasporto"/>
                        <xs:enumeration value="TipoPrenotazione"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>


    <xs:element name="Provenienza">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="Italia"/>
                <xs:element ref="Estero"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="Nascita">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="Italia"/>
                <xs:element ref="Estero"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="Cittadinanza">
        <xs:complexType>
            <xs:attribute name="Stato" use="required" type="xs:positiveInteger"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Italia">
        <xs:complexType>
            <xs:attribute name="CodiceComune" use="required" type="xs:positiveInteger"/>
            <xs:attribute name="Provincia" use="required" type="xs:positiveInteger"/>
            <xs:attribute name="Stato" use="required" type="xs:positiveInteger"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Estero">
        <xs:complexType>
            <xs:attribute name="Stato" use="required" type="xs:positiveInteger"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="Gruppo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Ospite" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="Ospite">
                                <xs:attribute name="TipoAlloggiato">
                                    <xs:simpleType>
                                        <xs:annotation>
                                            <xs:documentation>Capofamiglia (17) o Capogruppo
                                                (18)</xs:documentation>
                                        </xs:annotation>
                                        <xs:restriction base="xs:positiveInteger">
                                            <xs:enumeration value="17"/>
                                            <xs:enumeration value="18"/>
                                            <xs:enumeration value="19"/>
                                            <xs:enumeration value="20"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="IdGruppo" type="xs:ID" use="required">
                <xs:annotation>
                    <xs:documentation>Identificativo univoco del gruppo</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="OspiteSingolo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Ospite" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="Ospite">
                                <xs:annotation>
                                    <xs:documentation>Ospite Singolo (16)</xs:documentation>
                                </xs:annotation>
                                <xs:attribute name="TipoAlloggiato">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:positiveInteger">
                                            <xs:enumeration value="16"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

    </xs:element>

    <xs:complexType name="Ospite">
        <xs:sequence>
            <xs:element ref="DataDiArrivo"/>
            <xs:element ref="DataDiPartenza"/>
            <xs:element ref="DataDiNascita"/>
            <xs:element ref="Sesso"/>
            <xs:element ref="Provenienza"/>
            <xs:element ref="Nascita"/>
            <xs:element ref="Cittadinanza"/>
            <xs:element ref="ImpostaDiSoggiorno"/>
            <xs:element ref="CampiStatistici"/>
        </xs:sequence>
        <xs:attribute name="Id" type="xs:ID" use="required"/>
        <xs:attribute name="IdCamera" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>Identificativo univoco della camera (per il calcolo delle camere
                    occupate)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>



    <xs:element name="DataDiArrivo" type="xs:date">
        <xs:annotation>
            <xs:documentation> Data di arrivo (aaaa-mm-gg)</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="DataDiPartenza" type="xs:date">
        <xs:annotation>
            <xs:documentation> Data di partenza (aaaa-mm-gg)</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="DataDiNascita" type="xs:date">
        <xs:annotation>
            <xs:documentation>Data di nascita (aaaa-mm-gg) </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Sesso">
        <xs:simpleType>
            <xs:annotation>
                <xs:documentation>Sesso (1=maschio; 2=femmina)</xs:documentation>
            </xs:annotation>
            <xs:restriction base="xs:positiveInteger">
                <xs:enumeration value="1"/>
                <xs:enumeration value="2"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>


    <xs:element name="ImpostaDiSoggiorno">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CodiceImpostaSoggiorno" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Codice per imposta di soggiorno, null se non
                            esente</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ValoreImpostaUnitaria" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation>Valore per singolo giorno dell'imposta</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NottiImponibili" type="xs:positiveInteger">
                    <xs:annotation>
                        <xs:documentation>Notti soggette ad Imposta</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CampiStatistici">
        <xs:complexType>
            <xs:attribute name="TipoTurismo" type="TipoTurismo"/>
            <xs:attribute name="MezzoDiTrasporto" type="MezzoDiTrasporto"/>
            <xs:attribute name="TipoPrenotazione" type="TipoPrenotazione"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="TipoTurismo">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Affari/Congressuale"/>
            <xs:enumeration value="Arte e cultura"/>
            <xs:enumeration value="Cicloturismo"/>
            <xs:enumeration value="Enogastronomia"/>
            <xs:enumeration value="Fiere"/>
            <xs:enumeration value="Parchi Tematici"/>
            <xs:enumeration value="Religioso"/>
            <xs:enumeration value="Salute"/>
            <xs:enumeration value="Scolastico"/>
            <xs:enumeration value="Sportivo e Fitness"/>
            <xs:enumeration value="Terme"/>
            <xs:enumeration value="Altro"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="MezzoDiTrasporto">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Auto"/>
            <xs:enumeration value="Aereo"/>
            <xs:enumeration value="Treno"/>
            <xs:enumeration value="Autobus"/>
            <xs:enumeration value="Barca / Nave"/>
            <xs:enumeration value="Moto"/>
            <xs:enumeration value="Bicicletta"/>
            <xs:enumeration value="Altro"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TipoPrenotazione">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Email"/>
            <xs:enumeration value="Sito web privato"/>
            <xs:enumeration value="Portale"/>
            <xs:enumeration value="Telefonica/Fax"/>
            <xs:enumeration value="Tour Operator"/>
            <xs:enumeration value="Altro"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>